[core]
	autocrlf = false
	editor = nvim
	pager = delta

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = dev

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

[pull]
	ff = false
	rebase = true

[user]
	email = julian.lf.olate@gmail.com
	name = olatejulian
