.asdf/
.aws
.azure
.bash_history
.bash_logout
.cache/
.config/
.docker/
.dotfiles/
.files/
.ipython/
.kube/
.lesshst
.local/bin/
.local/share/
.python_history
.shell.pre-oh-my-zsh
.ssh/
.tool-versions
.viminfo
.vscode-remote-containers/
.vscode-server/
.wget-hsts
.zcompdump
.zcompdump-windows-julian-5.9
.zsh_history
Documents/
Downloads/
Projects/
Studies/
Tests/
.Xauthority
.Xclients
.anaconda.bk
.anydesk/
.atoti/
.bokeh/
.bridge/
.cache
.conda/
.condarc
.cufflinks/
.designer/
.dir_colors
.electron-gyp/
.face
.face.icon
.fonts.conf
.gitkraken/
.gnome/
.gnupg/
.gradle/
.gtkrc-2.0
.history/
.icons/
.ivy2/
.jabba/
.jupyter/
.kde4/
.lacuna-webpki/
.minikube/
.mongodb/
.mozilla/
.net/
.node_repl_history
.npm/
.nvidia-settings-rc
.nvm/
.omnidb/
.pki/
.pylint.d/
.redhat/
.rediscli_history
.scala_history
.scala_history_jline3
.sonarlint/
.themes/
.vs-kubernetes/
.vscode/
.xinitrc
.yarn/
.yarnrc
.zcompdump-bft-ideapad-5.8
.zcompdump-bft-ideapad-5.8.1
.zcompdump-bft-ideapad-5.9
.zhistory
.zshrc.pre-oh-my-zsh
Desktop/
Downloads
Media/
Pictures
Studies
go/
package.json

.zcompdump-windows-julian-5.9.zwc
.asdfrc
.cert/
.kite/
.local/lib/
.local/pipx/
.local/state/
.nanorc
.nuget/
.pgadmin/
.terraform.d/
.texlive/
.thunderbird/
.vagrant.d/
.vpython-root/
.vpython_cipd_cache/
.zcompdump-nitro5manjaro-5.9
.zcompdump-nitro5manjaro-5.9.zwc
Templates/
VirtualBox VMs/
go
.cargo/
.codeium/
.dotnet/
.fltk/
.java/
.jdks/
.lemminx/
.local/include/
.m2/
.pycharm_helpers/
.rustup/
.sdkman/
.secrets
.sonar/
.sts4/
.tabnine/
.vnc/
.zcompdump-OLATEJULIANPC01-5.9
.zcompdump-OLATEJULIANPC01-5.9.zwc
.zcompdump-nitro5windows-5.9
.zcompdump-nitro5windows-5.9.zwc
.zcompdump-olatejulianpc-5.9
.zcompdump-olatejulianpc-5.9.zwc
.zshenv
Workbench/
container/
documents/
