.asdf/
.aws
.azure
.bash_history
.bash_logout
.cache/
.config/
.docker/
.dotfiles/
.files/
.ipython/
.kube/
.lesshst
.local/
.python_history
.shell.pre-oh-my-zsh
.ssh/
.tool-versions
.viminfo
.vscode-remote-containers/
.vscode-server/
.wget-hsts
.zcompdump
.zcompdump-windows-julian-5.9
.zsh_history
Documents/
Downloads/
Projects/
Studies/
Tests/
