#custom-power {
    background-color: @red;
    border-radius: 5px;
    color: @foreground;
    margin: 0 2px 0 5px;
    padding: 0 10px;
}

#custom-power:hover {
    background-color: @selection;
}

