configuration {
    columns: 1;
    display-drun: "Apps";
    display-run: "Run";
    display-ssh: "SSH";
    display-window: "Windows";
    font: "RobotoMono Nerd Font Propo Bold 11";
    icon-theme: "Dracula";
    lines: 8;
    modi: "drun,run,window,ssh";
    show-icons: true;
    sidebar-mode: true;
    sorting-method: "fzf";
    terminal: "ghostty";
}

@theme "dracula"

/* vim:ft=css
