* {
    font-family: "JetBrains Mone Nerd Font Mono";
    font-size: 14px;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
}

/* Color palette */
@import "dracula.css";

window#waybar {
    background-color: transparent;
}

#backlight,
#battery,
#bluetooth,
#clock,
#network,
#pulseaudio
{
    background-color: @background;
    border-bottom: 1px solid @cyan;
    border-top: 1px solid @cyan;
    padding: 0 5px;
}

#backlight {
    color: @green;
}

#battery {
    color: @purple;
}

#bluetooth {
    border-left: 1px solid @cyan;
    color: @cyan;
}

#bluetooth:hover {
    background-color: @selection;
    color: @currentline;
}

#clock {
    border-right: 1px solid @cyan;
    color: @orange;
    margin: 0 5px 0 0;
}

#custom-power {
    background-color: @background;
    border: 1px solid @red;
    color: @red;
    margin: 0 0 0 5px;
    padding: 0 10px;
}

#custom-power:hover {
    background-color: @selection;
}

#network {
    color: @yellow;
}

#network:hover {
    background-color: @selection;
    color: @currentline;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio:hover {
    background-color: @selection;
    color: @currentline;
}

#tray {
    background-color: @background;
    border: 1px solid @cyan;
    margin: 0 5px 0 0;
    padding: 0 5px;
}

#workspaces {
    background-color: @background;
    border: 1px solid @cyan;
    margin: 0 0 0 5px;
}

#workspaces button {
    padding: 0 10px;
}

#workspaces button.active {
    background-color: @currentline;
    color: @pink;
}

#workspaces button:hover {
    background-color: @selection;
    color: @currentline;
}
