* {
    font-family: "JetBrains Mone Nerd Font Propo";
    font-size: 14px;
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    background-color: transparent;
}

/* Color palette */
@import "dracula.css";

/* Modules */
@import "css/audio.css";

@import "css/backlight.css";

@import "css/battery.css";

@import "css/bluetooth.css";

@import "css/clock.css";

@import "css/network.css";

@import "css/powermenu.css";

@import "css/tray.css";

@import "css/workspaces.css";

